body{
    font-family: verdana, geneva, tahoma, sans-serif;
    background-color: aquamarine;
    border: 0px;
}

/* Telas Desktop a partir 1024px */
@media screen and (min-width:1024px){
    h1 {font-size: 48px;}
    p {font-size: 24px;}
}
/* Telas Desktop até 768px até 1024px */
@media (min-width:768px) and (max-width:1023px){
    h1 {font-size: 24px;}
    p {font-size: 12px;}
    body{background-color: pink;}
}
/* Telas mobile máximo 767px */
@media screen and (max-width:767px){
    h1 {font-size: 24px;}
    p {font-size: 12px;}
    body{background-color: cadetblue;}
}